.NavBar-container {
  color: var(--h1-color);
  border-bottom: 1px solid var(--pr200);
  display: flex;
}
ul li {
  display: inline;
  color: var(--pr100);
  font-family: "Work Sans", sans-serif;
  margin-right: 30px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.Nav {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
img {
}
