:root {
  //color text
  --h1-color: white;
  --h2-color: white;
  --bg-color: black;
  --p-color: #46dbe3;
  --inactive: rgb(73, 73, 73);

  // color elements

  --pr100: #49cad1;
  --pr200: #1f767a;
  --pr300: #46dbe3;
  --pr400: #45eef7;
  --pr500: #16a1a8;

  //font-size
  --h1-size: 2.488rem;
  --h2-size: 2.074rem;
  --h3-size: 1.728rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}
// body {
//   background-color: var(--bg-color);
// }
.container {
  height: 100vh;
  padding: 30px;
}

p {
  color: var(--p-color);
  font-family: "Courier New", Courier, monospace;
  line-height: 50px;
}
h1 {
  font-family: "Work Sans", sans-serif;
  font-size: var(--h1-size);
}
* {
  outline: none;
}
a {
  text-decoration: none;
}
// a {
//   color: #dfe5f3;
//   text-decoration: none;
//   background-image: linear-gradient(rgb(176, 251, 188), rgb(176, 251, 188)),
//     linear-gradient(#feb2b2, #feb2b2);
//   background-size: 100% 2px, 0 2px;
//   background-position: 100% 100%, 0 100%;
//   background-repeat: no-repeat;
//   transition: background-size 2s linear;
// }
// a:hover {
//   background-size: 0 2px, 100% 2px;
// }
// Animations
@keyframes slide_right {
  from {
    transform: translate3d(100%, 0px, 0px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide_left {
  from {
    transform: translate3d(-100%, 0px, 0px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lan {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
